<!DOCTYPE html>
<html>
    <head>
        <title>Log In or Sign Up</title>
        <link rel="stylesheet" href="static\login.css">
    </head>
    <body class="main-container">
        <div class="inner-container">
            <div class="details">
                <img class="main-logo" src="..\static\images\mainLogo.png" height="105" width="301">
                <h2 class="info">
                    Promote your organization and help other organization grow!
                </h2>
            </div>

            <div class="login-container-out">
                <div class="login-container-main">
                    <div class="eplc">
                        <form class="eplc-f" method = "POST" action="/signup">
                            <div class="ep-div">
                                <div class="e">
                                    <div class="e-box">
                                        <input type="text" class="e-input"placeholder="username" name = "username" value = "">
                                    </div>
                                </div>
                                <div class="p">
                                    <div class="p-box">
                                        <input type="password" class="p-input" placeholder="Password" name = "password" value = "">
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="l-div">
                                <button class="l-button" type="submit">Sign Up</button>
                            </div>
                            <br>
                            <div class="hr"></div>
                            </div>
                        </form>
                        <div class="cna-div">
                            <div class="cna-box">
                              <a href="/login"><button class="cna-button">Log  In</button></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>